@model object
@inject ModelExpressionProvider m

<div class="form-group">
    @Html.LabelFor(x => x)
    @Html.TextBoxFor(x => x, new { @class = "form-control editor" })
    <small class="form-text text-muted">@(m.CreateModelExpression(ViewData, x=>x).Metadata.Description)</small>
    @Html.ValidationMessageFor(x => x)


</div>